nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#') FCC-voting
    ul.nav.navbar-nav
      li.active
        a(href='#') Home
      li.login
        a(href='/auth/github') Login through Github
            i.fa.fa-github